---
# Common tasks - system updates and prerequisites

- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Upgrade all packages to latest version
  apt:
    upgrade: dist
    autoremove: yes
    autoclean: yes
  register: upgrade_result

- name: Install common prerequisite packages
  apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
      - software-properties-common
      - build-essential
      - wget
      - unzip
      - git
    state: present

- name: Configure Git global settings
  become: no
  git_config:
    name: "{{ item.name }}"
    scope: global
    value: "{{ item.value }}"
  loop:
    - { name: 'user.name', value: '{{ git_user_name }}' }
    - { name: 'user.email', value: '{{ git_user_email }}' }
  when: git_user_name is defined and git_user_email is defined
